<h1 class="header-title">TJ'S DEV SHOWCASE</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Coding Projects</a></li>
                <li><a href="achievements.html">Achievements</a></li>
                <li><a href="certifications.html">Certifications</a></li>
                <li><a href="work.html">Work Experience</a></li>
            </ul>
        </nav>