<p class="tagline">"Don’t Get Stuck in the Maze – Rent with Kind Rat!"</p>
        <nav class="footer-nav">
            <ul>
                <li><a href="https://webpages.charlotte.edu/kibarrar/">Charlotte.edu</a></li>
                <li><a href="https://github.com/KevinIbarraRivas/KevinIbarraRivas.github.io">GitHub</a></li>
                <li><a href="https://kevinibarrarivas.github.io/itis3135/">GitHub.io</a></li>
                <li><a href="https://www.freecodecamp.org/kibarrar">freeCodeCamp</a></li>
                <li><a href="https://www.codecademy.com/profiles/Kibarrar">Codecademy</a></li>
                <li><a href="https://www.linkedin.com/in/kibarrarivas">LinkedIn</a></li>
            </ul>
        </nav>
        <p class="designed-by">Page built by <a href="kirinc.com/" class="foot-link">KIR Inc ©</a> 2024. <em>Certified in <a href="https://www.freecodecamp.org/certification/kibarrar/responsive-web-design" class="foot-link">Responsive Web Design</a></em>, <em>and Certified in <a href="https://www.freecodecamp.org/certification/kibarrar/javascript-algorithms-and-data-structures-v8" class="foot-link">JavaScript</a></em>.</p>