<h1 class="site-title">Kevin Rivas's Kind Rat || ITIS 3135</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="./" class="menu-item">Home</a></li>
                <li><a href="introduction.html" class="menu-item">Introduction</a></li>
                <li><a href="contract.html" class="menu-item">Contract</a></li>
                <li><a href="about.html" class="menu-item">About</a></li>
                <li><a href="website_evaluations.html" class="menu-item">Website Evaluations</a></li>
                <li><a href="client_overview.html" class="menu-item">Client Project Overview</a></li>
                <li><a href="hobby/index.html" class="menu-item">Hobby</a></li>
                <li><a href="client_project/index.html" class="menu-item">Client Project</a></li>
                <li><a href="review1.html" class="menu-item">Review 1</a></li>
                <li><a href="review2.html" class="menu-item">Review 2</a></li>
            </ul>
        </nav>